@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1 class="panel-title">个人资料</h1>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" id="form1">
                <div class="form-group">
                    <div class="col-sm-2">
                        用户名：
                    </div>
                    <div class="col-sm-2 text-left">
                        @Model.UserName
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">角色:</div>

                    <div class="col-sm-2 text-left">
                        @Model.Role.RoleName
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">用户昵称：</div>
                    <div class="col-sm-2">@Model.RealName</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">联系电话:</div>
                    <div class="col-sm-2">@Model.TelePhone</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">电子邮箱:</div>
                    <div class="col-sm-2">@Model.Email</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">状态:</div>
                    <div class="col-sm-2">@(Model.IsLock == 0 ? "正常" : "锁定")</div>
                </div>
            </form>
        </div>
    </div>
</div>

