@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.NavName = "ActPrize";
}

@section css
{
    <link href="~/_R/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
}
@section js
{
    <!-- Bootstrap table -->
    <script src="~/_R/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/_R/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="~/_R/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 过滤插件 -->
    <script src="~/_R/js/plugins/bootstrap-table//bootstrap-table-filter-control.js"></script>
    <script src="~/_R/js/jQuery.Screenshot.js"></script>
}
@section scripts
{
    <script type="text/javascript">
        $(function () {
            //1.初始化Table
            var oTableObj = DFCommon.TableInit("#formSearch",function(){
                screenshotPreview1();
            });
            oTableObj.Init();
            //新增数据click事件注册
            $("#btn_add").click(function () {
                location.href = "@Url.Action("Edit", "ActPrize")" + "?Id=0";
            });
            //删除数据click事件注册
            $("#btn_delete").click(function () {
                oTableObj.Delete("@Url.Action("Delete", "ActPrize")");
            });

            laydate({
                elem: '#add_starttime',
                event: 'focus'
            });
            laydate({
                elem: '#add_endtime',
                event: 'focus'
            });
        });
        var dic =@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.dicModel))
        var list =@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.ActivityList))
        function fat_ActName(value, row, index) {
            for (var i = 0; i < list.length; i++) {
                if (list[i].Id == value) return list[i].Title;
            }
            return '';
        }
        function fat_PrizeClass(value, row, index) {
            for (var i = 0; i < dic.length; i++) {
                if(dic[i].Id==value)return dic[i].Name;
            }
            return '';
        }
        function fat_img(value, row, index) {
            return '<img src="' + value + '" width="80px" height="80px"  class="screenshot" rel="' + value + '"/>';
        }
        function fat_oper(value, row, index) {
            return '<a href="/ActPrize/Edit?Id=' + row.Id + '" >编辑</a>';
        }
    </script>
}
<div class="panel-body" style="padding:0px;margin:5px;">
    <div class="panel panel-default">
        <div class="panel-heading">查询条件</div>
        <div class="panel-body">
            <form id="formSearch" class="form-horizontal" method="post" action="@Url.Action("GetActPrizeList", "ActPrize")" data-query="#btn_query" data-table="#tb_ActPrize">
                <div class="form-group">
                    <label class="control-label col-sm-1" for="txt_search_PrizeName">奖品名称</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="PrizeName" id="txt_search_PrizeName">
                    </div>
                    <label class="control-label col-sm-1" for="txt_search_adduser">添加人</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="adduser" id="txt_search_adduser">
                    </div>
                    <label class="control-label col-sm-1">添加时间</label>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-5">
                                <input name="add_starttime" id="add_starttime" class="laydate-icon form-control layer-date">
                            </div>
                            <div class="col-sm-5">
                                <input name="add_endtime" id="add_endtime" class="laydate-icon form-control layer-date">
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                    </div>
                    <label class="col-sm-1"></label>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-1" for="txt_search_Quantity">奖品数量</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="Quantity" id="txt_search_Quantity">
                    </div>
                    <label class="control-label col-sm-1" for="txt_search_WQuantity">已中数量</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="WQuantity" id="txt_search_WQuantity">
                    </div>
                    <label class="control-label col-sm-1" for="txt_search_NumberOfAwards">设置名额</label>
                    <div class="col-sm-2 ">
                        <input type="text" class="form-control" name="NumberOfAwards" id="txt_search_NumberOfAwards">
                    </div>
                    <div class="col-sm-3">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">活动名称：</label>
                    <div class="col-sm-2">
                        <select class="form-control m-b" name="ActId" id="ActId">
                            <option value="">--活动名称--</option>
                            @{
                                foreach (DF.Finance.Model.Activity item in ViewBag.ActivityList)
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            }
                        </select>
                    </div>
                    <label class="control-label col-sm-1">奖项</label>
                    <div class="col-sm-2">
                        <select class="form-control" name="PrizeClass" id="txt_search_PrizeClass">
                            <option value="">--奖项---</option>
                            @foreach (DF.Finance.Model.SysDictionary item in ViewBag.dicModel)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-1">

                    </div>
                    <div class="col-sm-5">
                        <button type="button" id="btn_query" class="btn btn-primary">查询</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="toolbar" class="btn-group">
        <button id="btn_add" type="button" class="btn btn-primary" data-role="Add">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
        </button>
        <button id="btn_delete" type="button" class="btn btn-warning" data-role="Delete">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
        </button>
    </div>

    <table id="tb_ActPrize" data-filter-control="false">
        <thead>
            <tr>
                <th data-checkbox="true"></th>
                <th data-field="ActId" data-formatter="fat_ActName" data-halign="center" data-align="center">活动名称</th>
                <th data-field="PrizeName" data-halign="center" data-align="center" data-filter-control="input">奖品名称</th>
                <th data-field="PrizeImg" data-formatter="fat_img" data-halign="center" data-align="center" data-filter-control="input">奖品图片</th>
                <th data-field="PrizeClass" data-formatter="fat_PrizeClass" data-halign="center" data-align="center">奖项</th>
                <th data-field="Quantity" data-halign="center" data-align="center" data-filter-control="select">奖品数量</th>
                <th data-field="NumberOfAwards" data-halign="center" data-align="center">设奖名额</th>
                <th data-field="WQuantity" data-halign="center" data-align="center">已中数量</th>
                <th data-field="AddUserName" data-halign="center" data-align="center">添加人</th>
                <th data-field="AddTime" data-halign="center" data-align="center">添加时间</th>
                <th data-field="Id" data-formatter="fat_oper" data-halign="center" data-align="center">操作</th>
            </tr>
        </thead>
    </table>
</div>



